.search-user-container{
    height: 56px;
    position: relative;
    .search-user-input-wrap{
        width: 100%;
        position: relative;
        height: 30px;
        border-radius: 4px;
        span{
            position: absolute;
            top: 9px;
            right: 39px;
            cursor: pointer;
            display: block;
            width: 12px;
            height: 12px;
            background: url(../../../assets/images/search-user-delete.svg) center center no-repeat;
            background-size: 12px;
        }
        p{
            position: absolute;
            top: 0;
            right: 0;
            width: 30px;
            height: 30px;
            border-radius: 0 4px 4px 0;
            background: url(../../../assets/images/search-user.svg) center center no-repeat;
            cursor: pointer;
        }
        .search-user-input{
            width: 100%;
            height: 30px;
            padding-left: 12px;
            box-sizing: border-box;
            border-radius: 5px;
            font-size: 12px;
            color: #2C2C2C;
            border-radius: 4px;
            background: #E8EDF3;
            float: left;
            background-size: 14px;
            border: 1px solid transparent;
        }
    }
    .search-user-no-result{
        line-height: 80px;
        height: 80px;
        background-color: #fff;
        position: absolute;
        z-index: 4;
        width: 100%;
        top: 46px;
        right: 20px;
        box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.20);
        border-radius: 4px;
        font-size: 14px;
        color: #2C2C2C;
        text-align: center;
    }
    .search-user-result{
        position: absolute;
        top: 36px;
        z-index: 4;
        line-height: 50px;
        background-color: #fff;
        width: 100%;
        box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.20);
        border-radius: 4px;
        max-height: 452px;
        .search-member-label{
            position: relative;
            cursor: pointer;
            width: 24px;
            height: 24px;
            margin-top: 13px;
            input{
                display: none;
            }
            input + b{
                width: 100%;
                height: 100%;
                display: block;
                background: #fff url(../../../assets/images/select-member-normal.svg) center center no-repeat;
                background-size: 24px;
                border-radius: 12px;
            }
            input:checked + b{
                background-image: url(../../../assets/images/select-member-active.svg);
            }
            input:disabled + b{
                background-image: url(../../../assets/images/has-select.svg);
                cursor: default;
            }
        }
        .search-user-single{
            overflow: hidden;
        }
        .search-user-group{
            overflow: hidden;
        }
        .search-user-show{
            height: 26px;
            line-height: 26px;
            margin: 0 8px;
            border-bottom: 1px solid #D9DEE4;
            box-sizing: border-box;
            font-size: 12px;
            color: #808080;
            span{
                font-size: 10px;
                color: #2DD0CF;
                cursor: pointer;
            }
        }
        li{
            padding: 0 8px;
            box-sizing: border-box;
            .search-user-avatar-container{
                width: 30px;
                height: 30px;
                margin: 10px 10px 0 0;
                overflow: hidden;
            }
            .search-user-name{
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            &:hover{
                background-color: #F2F6FB;
            }
        }
    }
}