<perfect-scrollbar class="group-list-container">
    <h2>群组</h2>
    <div *ngIf="groupLoading" class="group-list-loading">
        <img src="../../../assets/images/app-loading.gif" alt="">
    </div>
    <div class="list-no-data" *ngIf="!isEmpty && !groupLoading">暂无群组</div>
    <div *ngIf="groupList">
        <div *ngFor="let item of groupList">
            <div *ngIf="item.data.length > 0" class="group-list-letter">{{item.letter}}</div>
            <div *ngFor="let data of item.data" class="group-list-name display-flex" (click)="selectGroupItem(data)">
                <div class="group-list-avatar">
                    <img avatarLoad [avatarError]="4" [src]="data.avatarUrl | sanitize : 'url'" alt="">
                </div>
                <span class="flex-1">{{data.name}}</span>
            </div>
        </div>
    </div>
</perfect-scrollbar>