<perfect-scrollbar class="group-list-container">
    <h2>群组</h2>
    <div class="group-list-no-data" *ngIf="!isEmpty">暂无群组</div>
    <div *ngIf="groupList">
        <div *ngFor="let item of groupList">
            <div *ngIf="item.data.length > 0" class="group-list-letter">{{item.letter}}</div>
            <div *ngFor="let data of item.data" class="group-list-name display-flex" (click)="selectGroupItem(data)">
                <div class="group-list-avatar">
                    <img [src]="data.avatarUrl | sanitize : 'url'" (error)="groupAvatarErrorIcon($event)" (load)="avatarLoad($event)" alt="">
                </div>
                <span class="flex-1">{{data.name}}</span>
            </div>
        </div>
    </div>
</perfect-scrollbar>