<div class="chat-panel-container display-flex flex-direction-vertical">
    <div class="chat-panel-board flex-1 display-flex flex-direction-vertical">
        <div class="chat-panel-setting">
            <span *ngIf="active.type === 3" (click)="watchOtherInfo(active)" class="chat-panel-username chat-panel-name">{{active.nickName ? active.nickName : active.name}}</span>
            <span *ngIf="active.type === 4" class="chat-panel-name">{{active.nickName ? active.nickName : active.name}}</span>
            <div class="chat-panel-setting-btn" [hoverEvent]="groupConversationHover" *ngIf="active.type === 3" (click)="addGroupAction()">
                <hover-tip-component [hidden]="!groupConversationHover.show" [hoverInfo]="groupConversationHover"></hover-tip-component>
            </div>
            <div class="chat-panel-group-setting" [hoverEvent]="groupSettingHover" *ngIf="active.type === 4" (click)="groupSettingAction($event)">
                <hover-tip-component [hidden]="!groupSettingHover.show" [hoverInfo]="groupSettingHover"></hover-tip-component>
            </div>
        </div>
        <div class="chat-panel-message-borad flex-1" id="imgViewer">
            <perfect-scrollbar class="chat-panel-scroll" (ps-y-reach-start)="scrollTopEvent()">
                <div class="chat-panel-see-more" *ngIf="loadingFlag === 1 && this.msg.length >= 20">查看更多</div>
                <div class="chat-panel-see-more-loading" *ngIf="loadingFlag === 2">
                    <div></div>
                </div>
                <div class="chat-panel-see-more no-more" *ngIf="loadingFlag === 3 && this.msg.length > 20">没有更多消息了</div>
                <!-- 群聊事件消息 -->
                <div *ngIf="messageList[active.activeIndex]?.addGroupOther?.length > 0">
                    <div *ngFor="let item of messageList[active.activeIndex].addGroupOther">
                        <p *ngIf="item.time_show" class="chat-panel-time" [ngClass]="{'first': num === 0}" [ngSwitch]="item.time_show">
                            <time style="top: 0;" *ngSwitchCase="'year'">{{item.ctime_ms | time:"yy-MM-dd HH:mm"}}</time>
                            <time style="top: 0;" *ngSwitchCase="'month'">{{item.ctime_ms | time:"MM-dd HH:mm"}}</time>
                            <time style="top: 0;" *ngSwitchCase="'day'">{{item.ctime_ms | day}} {{item.ctime_ms | time:"HH:mm"}}</time>
                            <time style="top: 0;" *ngSwitchCase="'the day before'">前天 {{item.ctime_ms | time:"HH:mm"}}</time>
                            <time style="top: 0;" *ngSwitchCase="'yesterday'">昨天 {{item.ctime_ms | time:"HH:mm"}}</time>
                            <time style="top: 0;" *ngSwitchCase="'today'">{{item.ctime_ms | time:"HH:mm"}}</time>
                        </p>
                        <p class="chat-panel-add-members">
                            <span>{{item.text}}</span>
                        </p>
                    </div>
                </div>
                <div *ngFor="let i of msg; let num = index;">
                    <div class="chat-panel-you-msg chat-panel-msg" *ngIf="global.user != i.content.from_id">
                        <!-- 时间 -->
                        <p class="chat-panel-time" [ngClass]="{'first': num === 0}" *ngIf="i.time_show" [ngSwitch]="i.time_show">
                            <time *ngSwitchCase="'year'">{{i.ctime_ms | time:"yy-MM-dd HH:mm"}}</time>
                            <time *ngSwitchCase="'month'">{{i.ctime_ms | time:"MM-dd HH:mm"}}</time>
                            <time *ngSwitchCase="'day'">{{i.ctime_ms | day}} {{i.ctime_ms | time:"HH:mm"}}</time>
                            <time *ngSwitchCase="'the day before'">前天 {{i.ctime_ms | time:"HH:mm"}}</time>
                            <time *ngSwitchCase="'yesterday'">昨天 {{i.ctime_ms | time:"HH:mm"}}</time>
                            <time *ngSwitchCase="'today'">{{i.ctime_ms | time:"HH:mm"}}</time>
                        </p>
                        <!-- 文本消息 -->
                        <div *ngIf="i.content.msg_type === 'text'" class="clearfix">
                            <div class="float-left chat-panel-fromId-you chat-panel-avatar" (click)="watchOtherInfo(i.content)" [title]="i.content.from_id">
                                <img (load)="avatarLoad($event)" [src]="i.content.avatarUrl | sanitize: 'url'" (error)="avatarErrorIcon($event)" alt="">
                            </div>
                            <div class="float-left">
                                <div *ngIf="active.type === 4" class="group-username">{{i.content.from_name !== '' ? i.content.from_name : i.content.from_id}}</div>
                                <div class="chat-panel-msgText-you" [ngClass]="{'jpush-emoji-container': i.content.msg_body.text.indexOf('jpush-emoji') !== -1}">
                                    <p class="chat-panel-text-msg" [innerHTML]="i.content.msg_body.text | emoji: true | sanitize: 'html'" [ngClass]="{'chat-panel-jpush-emoji': i.content.msg_body.text.indexOf('jpush-emoji') !== -1}"></p>
                                </div>
                            </div>
                        </div>
                        <!-- 图片消息 -->
                        <div *ngIf="i.content.msg_type === 'image'" [ngStyle]="{height: i.content.msg_body.width > 219 || i.content.msg_body.height > 300 ? (i.content.msg_body.width/i.content.msg_body.height > 219/300 ? 219/i.content.msg_body.width * i.content.msg_body.height + (active.type === 4 ? 20 : 0) + 'px' : 300 + (active.type === 4 ? 20 : 0) + 'px' ) : i.content.msg_body.height + (active.type === 4 ? 20 : 0) + 'px'}" class="clearfix chat-panel-img">
                            <div class="float-left chat-panel-fromId-you chat-panel-avatar" (click)="watchOtherInfo(i.content)" [title]="i.content.from_id">
                                <img (load)="avatarLoad($event)" [src]="i.content.avatarUrl | sanitize: 'url'" (error)="avatarErrorIcon($event)" alt="">
                            </div>
                            <div *ngIf="!i.content.msg_body.extras || (i.content.msg_body.extras && !i.content.msg_body.extras.kLargeEmoticon)" class="float-left">
                                <div *ngIf="active.type === 4" class="group-username">{{i.content.from_name !== '' ? i.content.from_name : i.content.from_id}}</div>
                                <div *ngIf="!i.content.msg_body.extras || i.content.msg_body.extras.kLargeEmoticon !== 'kLargeEmoticon'">
                                    <img title="点击查看大图" (click)="imageViewerShow(i.content.msg_body.media_url, num)" class="chat-panel-message-img" [src]="i.content.msg_body.media_url | sanitize: 'url'" alt="">
                                </div>
                            </div>
                            <!-- 表情 -->
                            <div *ngIf="i.content.msg_body.extras && i.content.msg_body.extras.kLargeEmoticon === 'kLargeEmoticon'" class="float-left">
                                <div *ngIf="active.type === 4" class="group-username">{{i.content.from_name !== '' ? i.content.from_name : i.content.from_id}}</div>
                                <div class="float-left">
                                    <img style="cursor: default" class="chat-panel-message-img" [src]="i.content.msg_body.media_url | sanitize: 'url'" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- 文件消息 -->
                        <div *ngIf="i.content.msg_type === 'file' && (!i.content.msg_body.extras || !i.content.msg_body.extras.video)" class="clearfix">
                            <div class="chat-panel-fromId-you float-left chat-panel-avatar" (click)="watchOtherInfo(i.content)" [title]="i.content.from_id">
                                <img (load)="avatarLoad($event)" [src]="i.content.avatarUrl | sanitize: 'url'" (error)="avatarErrorIcon($event)" alt="">
                            </div>
                            <div class="float-left clearfix">
                                <div *ngIf="active.type === 4" class="group-username">{{i.content.from_name !== '' ? i.content.from_name : i.content.from_id}}</div>
                                <div class="float-left chat-panel-file-you">
                                    <div class="display-flex chat-panel-file-icon chat-panel-file-icon-you" [title]="i.content.msg_body.fname">
                                        <div [ngClass]="{'image': (i.content.msg_body?.extras?.fileType | fileType) === 'image', 'video': (i.content.msg_body?.extras?.fileType | fileType) === 'video', 'audio': (i.content.msg_body?.extras?.fileType | fileType) === 'audio', 'document': (i.content.msg_body?.extras?.fileType | fileType) === 'document'}"></div>
                                        <p class="flex-1">{{i.content.msg_body.fname | ellipsis: 12}}</p>
                                    </div>
                                    <div class="chat-panel-range">
                                        <div>
                                            <span class="float-left">{{i.content.msg_body.fsize | fileSize}}</span>
                                            <span class="float-right">已接收</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="float-left chat-panel-download-file" [hoverEvent]="i.downloadHover" (click)="fileDownload(i.content.msg_body.media_url)">
                                    <hover-tip-component [hidden]="!i.downloadHover.show" [hoverInfo]="i.downloadHover"></hover-tip-component>
                                </div>
                            </div>                           
                        </div>
                        <!-- 视频消息 -->
                        <div *ngIf="i.content.msg_type === 'file' && i.content.msg_body.extras && i.content.msg_body.extras.video" class="clearfix">
                            <div class="chat-panel-fromId-you float-left chat-panel-avatar" (click)="watchOtherInfo(i.content)" [title]="i.content.from_id">
                                <img (load)="avatarLoad($event)" [src]="i.content.avatarUrl | sanitize: 'url'" (error)="avatarErrorIcon($event)" alt="">
                            </div>
                            <div class="float-left">
                                <div *ngIf="active.type === 4" class="group-username">{{i.content.from_name !== '' ? i.content.from_name : i.content.from_id}}</div>
                                <div class="chat-panel-video">
                                    <video (click)="playVideo(i.content.msg_body.media_url)" [src]="i.content.msg_body.media_url | sanitize: 'url'" (loadstart)="videoLoadStart(num)" (loadeddata)="videoLoad(num)" [id]="'video' + num">
                                        <!--<source [src]="i.content.msg_body.media_url">-->
                                    </video>
                                    <div class="chat-panel-video-play" (click)="playVideo(i.content.msg_body.media_url)" *ngIf="i.content.load === 1">
                                        <span>{{i.content.duration | videoTime}}</span>
                                    </div>
                                    <div class="chat-panel-video-shadow" *ngIf="i.content.load === 0">{{i.content.range}}%</div>
                                </div>
                            </div>
                        </div>
                        <!-- 地理定位 -->
                        <div *ngIf="i.content.msg_type === 'location'" class="chat-panel-location clearfix">
                            <div class="float-left chat-panel-fromId-you chat-panel-avatar" (click)="watchOtherInfo(i.content)" [title]="i.content.from_id">
                                <img (load)="avatarLoad($event)" [src]="i.content.avatarUrl | sanitize: 'url'" (error)="avatarErrorIcon($event)" alt="">
                            </div>
                            <div class="float-left">
                                <div *ngIf="active.type === 4" class="group-username">{{i.content.from_name !== '' ? i.content.from_name : i.content.from_id}}</div>
                                <div class="chat-panel-map-wrap">
                                    <a [routerLink]="['/map', i.content.msg_body.longitude + '&' + i.content.msg_body.latitude]" target="_blank">                                
                                        <div [id]="'allmap' + num" class="float-left chat-panel-allmap" title="点击查看详细地图"></div>
                                    </a>                                    
                                    <p class="chat-panel-address" [title]="i.content.msg_body.label" *ngIf="i.content.msg_body.label">{{i.content.msg_body.label}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- 语音 -->
                        <div *ngIf="i.content.msg_type === 'voice'" class="chat-panel-voice clearfix">
                            <div class="float-left chat-panel-fromId-you chat-panel-avatar" (click)="watchOtherInfo(i.content)" [title]="i.content.from_id">
                                <img (load)="avatarLoad($event)" [src]="i.content.avatarUrl | sanitize: 'url'" (error)="avatarErrorIcon($event)" alt="">
                            </div>
                            <div class="float-left">
                                <div *ngIf="active.type === 4" class="group-username">{{i.content.from_name !== '' ? i.content.from_name : i.content.from_id}}</div>
                                <div class="chat-panel-voice-sound chat-panel-voice-sound-you">
                                    <div (click)="playVoice(num)" [ngStyle]="{'width': i.content.msg_body.duration * 20 + 'px'}">
                                        <span class="float-right">{{i.content.msg_body.duration | floor}}''</span>
                                        <div>
                                            <p class="float-left">
                                                <span class="one float-left" [ngClass]="{'active': i.content.playing, 'no-active': !i.content.playing}"></span>
                                            </p>
                                            <p class="float-left">
                                                <span class="two float-left" [ngClass]="{'active': i.content.playing, 'no-active': !i.content.playing}"></span>                                            
                                            </p>
                                            <p class="float-left">
                                                <span class="three float-left" [ngClass]="{'active': i.content.playing, 'no-active': !i.content.playing}"></span>                                            
                                            </p>
                                            <p class="float-left">
                                                <span class="four float-left" [ngClass]="{'active': i.content.playing, 'no-active': !i.content.playing}"></span>                                            
                                            </p>
                                            <p class="float-left">
                                                <span class="five float-left" [ngClass]="{'active': i.content.playing, 'no-active': !i.content.playing}"></span>                                            
                                            </p>
                                        </div>
                                        <b *ngIf="!i.content.havePlay"></b>
                                    </div>
                                    <audio [id]="'audio' + num" (ended)="voiceEnded(num)" [src]="i.content.msg_body.media_url | sanitize: 'url'">
                                        <source [src]="i.content.msg_body.media_url">
                                    </audio>
                                </div>
                            </div>                     
                        </div>
                    </div>
                    <div class="chat-panel-me-msg chat-panel-msg" *ngIf="global.user === i.content.from_id">
                        <!-- 时间 -->
                        <p class="chat-panel-time" [ngClass]="{'first': num === 0}" *ngIf="i.time_show" [ngSwitch]="i.time_show">
                            <time *ngSwitchCase="'year'">{{i.ctime_ms | time:"yy-MM-dd HH:mm"}}</time>
                            <time *ngSwitchCase="'month'">{{i.ctime_ms | time:"MM-dd HH:mm"}}</time>
                            <time *ngSwitchCase="'day'">{{i.ctime_ms | day}} {{i.ctime_ms | time:"HH:mm"}}</time>
                            <time *ngSwitchCase="'the day before'">前天 {{i.ctime_ms | time:"HH:mm"}}</time>
                            <time *ngSwitchCase="'yesterday'">昨天 {{i.ctime_ms | time:"HH:mm"}}</time>
                            <time *ngSwitchCase="'today'">{{i.ctime_ms | time:"HH:mm"}}</time>
                        </p>
                        <!-- 文本消息 -->
                        <div *ngIf="i.content.msg_type === 'text'" class="clearfix">
                            <div class="float-right chat-panel-fromId-me chat-panel-avatar" (click)="watchSelfInfo()">
                                <img (load)="avatarLoad($event)" [src]="selfInfo.avatarUrl | sanitize: 'url'" (error)="avatarErrorIcon($event)" alt="">
                            </div>
                            <div class="chat-panel-msgText-me float-right" [ngClass]="{'jpush-emoji-container': i.content.msg_body.text.indexOf('jpush-emoji') !== -1}">
                                <div *ngIf="i.success === 1" class="chat-panel-send-loading"></div>                                
                                <div *ngIf="i.success === 3" class="chat-panel-send-error align-items-center display-flex" (click)="repeatSendMsgAction(i)"></div>                                
                                <p class="chat-panel-text-msg" [innerHTML]="i.content.msg_body.text | emoji: true | sanitize: 'html'" [ngClass]="{'chat-panel-jpush-emoji': i.content.msg_body.text.indexOf('jpush-emoji') !== -1}"></p>
                            </div>
                        </div>
                        <!-- 图片消息 -->
                        <div class="chat-panel-img-me chat-panel-img clearfix" *ngIf="i.content.msg_type == 'image'" [ngStyle]="{height: i.content.msg_body.width > 219 || i.content.msg_body.height > 300 ? (i.content.msg_body.width/i.content.msg_body.height > 219/300 ? 219/i.content.msg_body.width * i.content.msg_body.height + 'px' : 300 + 'px' ) : i.content.msg_body.height + 'px'}">
                            <div class="chat-panel-fromId-me float-right chat-panel-avatar" (click)="watchSelfInfo()">
                                <img (load)="avatarLoad($event)" [src]="selfInfo.avatarUrl | sanitize: 'url'" (error)="avatarErrorIcon($event)" alt="">
                            </div>
                            <div *ngIf="!i.content.msg_body.extras || (i.content.msg_body.extras && !i.content.msg_body.extras.kLargeEmoticon)" class="float-right chat-panel-message-img-wrap" [ngClass]="{'chat-panel-message-img-loading': i.success === 1}">
                                <div *ngIf="i.success === 3" class="chat-panel-send-error" (click)="repeatSendPicAction(i)"></div>
                                <div>
                                    <img class="chat-panel-message-img" (click)="imageViewerShow(i.content.msg_body.media_url, num)" title="点击查看大图" [src]="i.content.msg_body.media_url | sanitize: 'url'" alt="">
                                </div>
                            </div>
                            <!-- 表情 -->
                            <div *ngIf="i.content.msg_body.extras && i.content.msg_body.extras.kLargeEmoticon === 'kLargeEmoticon'" class="float-right">
                                <div class="float-left">
                                    <img style="cursor: default" class="chat-panel-message-img" [src]="i.content.msg_body.media_url | sanitize: 'url'" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- 文件消息 -->
                        <div *ngIf="i.content.msg_type === 'file' && (!i.content.msg_body.extras || (i.content.msg_body.extras && !i.content.msg_body.extras.video))" class="clearfix">
                            <div class="chat-panel-fromId-me float-right chat-panel-avatar" (click)="watchSelfInfo()">
                                <img (load)="avatarLoad($event)" [src]="selfInfo.avatarUrl | sanitize: 'url'" (error)="avatarErrorIcon($event)" alt="">
                            </div>
                            <div class="float-right chat-panel-file-me">
                                <div *ngIf="i.success === 1" class="chat-panel-send-loading"></div>
                                <div *ngIf="i.success === 3" class="chat-panel-send-error" (click)="repeatSendFileAction(i)"></div>
                                <div class="display-flex chat-panel-file-icon chat-panel-file-icon-me" [title]="i.content.msg_body.fname">
                                    <div [ngClass]="{'image': (i.content.msg_body?.extras?.fileType | fileType) === 'image', 'video': (i.content.msg_body?.extras?.fileType | fileType) === 'video', 'audio': (i.content.msg_body?.extras?.fileType | fileType) === 'audio', 'document': (i.content.msg_body?.extras?.fileType | fileType) === 'document'}"></div>
                                    <p class="flex-1">{{i.content.msg_body.fname | ellipsis: 12}}</p>
                                </div>
                                <div class="chat-panel-range">
                                    <p  *ngIf="i.success === 1"></p>
                                    <div>
                                        <span class="float-left">{{i.content.msg_body.fsize | fileSize}}</span>
                                        <p class="float-right" [ngSwitch]="i.success">
                                            <span *ngSwitchCase="1">正在发送</span>
                                            <span *ngSwitchCase="3">发送失败</span>
                                            <span *ngSwitchDefault>已发送</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 视频消息 -->
                        <div *ngIf="i.content.msg_type === 'file' && i.content.msg_body.extras && i.content.msg_body.extras.video" class="clearfix">
                            <div class="chat-panel-fromId-me float-right chat-panel-avatar" (click)="watchSelfInfo()">
                                <img (load)="avatarLoad($event)" [src]="selfInfo.avatarUrl | sanitize: 'url'" (error)="avatarErrorIcon($event)" alt="">
                            </div>
                            <div class="float-right chat-panel-video">
                                <video (click)="playVideo(i.content.msg_body.media_url)" [src]="i.content.msg_body.media_url | sanitize: 'url'" (loadstart)="videoLoadStart(num)" (loadeddata)="videoLoad(num)" [id]="'video' + num">
                                    <!--<source [src]="i.content.msg_body.media_url">-->
                                </video>
                                <div class="chat-panel-video-play" (click)="playVideo(i.content.msg_body.media_url)" *ngIf="i.content.load === 1">
                                    <span>{{i.content.duration | videoTime}}</span>
                                </div>
                                <div class="chat-panel-video-shadow" *ngIf="i.content.load === 0">{{i.content.range}}%</div>
                            </div>
                        </div>
                        <!-- 地理定位 -->
                        <div *ngIf="i.content.msg_type === 'location'" class="chat-panel-location clearfix">
                            <div class="chat-panel-fromId-me float-right chat-panel-avatar" (click)="watchSelfInfo()">
                                <img (load)="avatarLoad($event)" [src]="selfInfo.avatarUrl | sanitize: 'url'" (error)="avatarErrorIcon($event)" alt="">
                            </div>
                            <div class="chat-panel-map-wrap float-right">
                                <a [routerLink]="['/map', i.content.msg_body.longitude + '&' + i.content.msg_body.latitude]" target="_blank">                                
                                    <div [id]="'allmap' + num" class="float-left chat-panel-allmap" title="点击查看详细地图"></div>
                                </a>                                    
                                <p class="chat-panel-address" [title]="i.content.msg_body.label" *ngIf="i.content.msg_body.label">{{i.content.msg_body.label}}</p>
                            </div>
                        </div>
                        <!-- 语音 -->
                        <div *ngIf="i.content.msg_type === 'voice'" class="chat-panel-voice clearfix">
                            <div class="float-right chat-panel-fromId-me chat-panel-avatar" (click)="watchSelfInfo()">
                                <img (load)="avatarLoad($event)" [src]="selfInfo.avatarUrl | sanitize: 'url'" (error)="avatarErrorIcon($event)" alt="">
                            </div>
                            <div class="float-right chat-panel-voice-sound chat-panel-voice-sound-me">
                                <div (click)="playVoice(num)" [ngStyle]="{'width': i.content.msg_body.duration * 20 + 'px'}">
                                    <span class="float-right">{{i.content.msg_body.duration | floor}}''</span>
                                    <div>
                                        <p class="float-left">
                                            <span class="one float-left" [ngClass]="{'active': i.content.playing, 'no-active': !i.content.playing}"></span>
                                        </p>
                                        <p class="float-left">
                                            <span class="two float-left" [ngClass]="{'active': i.content.playing, 'no-active': !i.content.playing}"></span>                                            
                                        </p>
                                        <p class="float-left">
                                            <span class="three float-left" [ngClass]="{'active': i.content.playing, 'no-active': !i.content.playing}"></span>                                            
                                        </p>
                                        <p class="float-left">
                                            <span class="four float-left" [ngClass]="{'active': i.content.playing, 'no-active': !i.content.playing}"></span>                                            
                                        </p>
                                        <p class="float-left">
                                            <span class="five float-left" [ngClass]="{'active': i.content.playing, 'no-active': !i.content.playing}"></span>                                            
                                        </p>
                                    </div>
                                    <b *ngIf="!i.content.havePlay && global.user !== i.content.from_id"></b>
                                </div>
                                <audio [id]="'audio' + num" (ended)="voiceEnded(num)" [src]="i.content.msg_body.media_url | sanitize: 'url'">
                                    <source [src]="i.content.msg_body.media_url">
                                </audio>
                            </div>                      
                        </div>
                    </div>
                    <div *ngIf="i?.addGroupOther?.length > 0">
                        <div *ngFor="let item of i.addGroupOther">
                            <p *ngIf="item.time_show" class="chat-panel-time" [ngSwitch]="item.time_show">
                                <time style="top: 0;" *ngSwitchCase="'year'">{{item.ctime_ms | time:"yy-MM-dd HH:mm"}}</time>
                                <time style="top: 0;" *ngSwitchCase="'month'">{{item.ctime_ms | time:"MM-dd HH:mm"}}</time>
                                <time style="top: 0;" *ngSwitchCase="'day'">{{item.ctime_ms | day}} {{item.ctime_ms | time:"HH:mm"}}</time>
                                <time style="top: 0;" *ngSwitchCase="'the day before'">前天 {{item.ctime_ms | time:"HH:mm"}}</time>
                                <time style="top: 0;" *ngSwitchCase="'yesterday'">昨天 {{item.ctime_ms | time:"HH:mm"}}</time>
                                <time style="top: 0;" *ngSwitchCase="'today'">{{item.ctime_ms | time:"HH:mm"}}</time>
                            </p>
                            <p class="chat-panel-add-members">
                                <span>{{item.text}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </perfect-scrollbar>
        </div>
    </div>
    <div class="chat-panel-message-input">
        <div class="chat-panel-send-file">
            <emoji-component [hidden]="!emojiInfo.show" [emojiInfo]="emojiInfo" (jpushEmojiSelect)="jpushEmojiSelectEmit($event)"></emoji-component>            
            <button title="表情" class="chat-panel-emoji-btn" [ngClass]="{'active': emojiInfo.show }" type="button" (click)="showEmojiPanel($event)"></button>
            <input type="file" id="sendFile" class="chat-panel-singleFile" (change)="sendFileAction($event)" value="发送图片">
            <label title="文件" for="sendFile" class="chat-panel-singleFile-label" [ngClass]="{'active': filePanelShow}"></label>
            <input type="file" id="sendPic" class="chat-panel-singlePic" (change) = "sendPicAction($event)" value="发送图片">
            <label title="图片" for="sendPic" class="chat-panel-singlePic-label"></label>
        </div>
        <div class="chat-panel-text-container" (click)="contentFocus($event)">
            <perfect-scrollbar class="chat-panel-content-scroll">
                <div (paste)="pasteMessage($event)" (click)="stopPropagation($event)" class="chat-panel-content-text" myModel [myModel]="messageList[active.activeIndex]" id="contentDiv" spellcheck="false" contenteditable="true" (keydown)="preKeydown($event)" (blur)="msgContentChange($event)" (focus)="msgContentFocus()" (click)="msgContentClick($event)"></div>
            </perfect-scrollbar>
        </div>
        <button class="chat-panel-send-btn btn-white" type="button" (click) = "sendMsgAction()">发送</button>
    </div>
</div>
<image-viewer-component *ngIf="imageViewer.show" [imageViewer]="imageViewer"></image-viewer-component>