.conversation-container{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    .conversation-list{
        li{
            cursor: pointer;
            line-height: 22px;
            height: 70px;
            background-color: #fff;
            position: relative;
            padding: 15px 0 0 20px;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            &.active{
                background: #E7EDF1 !important;
            }
            &.isTop{
                background-color: #F5F6F8;
            }
            &:hover .conversation-delete{
                display: block;
            }
            &:hover{
                background-color: #f1f1f2;
            }
            .conversation-avatar{
                width: 40px;
                height: 40px;
                position: relative;
                margin-right: 9px;
                >div{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    .group-avatar{
                        width: 100%;
                    }
                }
                .conversation-unreadNum{
                    top: -7px;
                    right: -7px;
                }
                .conversation-dot{
                    position: absolute;
                    top: -4px;
                    right: -4px;
                    display: inline-block;
                    background: #EB424C;
                    border-radius: 4px;
                    width: 8px;
                    height: 8px;
                }
            }
            .conversation-nickname{
                line-height: 22px;
                margin-bottom: 2px;
                font-size: 14px;
                color:#2c2c2c;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .conversation-draft{
                line-height: 18px;
                font-size: 12px;
                width: 180px;
                height: 18px;
                .conversation-draft-text{
                    color: #EB424C;                    
                }
                .conversation-draft-msg{
                    color: #999;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    width: 145px;
                }
            }
            .conversation-delete{
                position: absolute;
                top: 22px;
                left: 5px;
                color: #808080;
                cursor: pointer;
                display: none;
                &:hover{
                    color: #02BDBC;
                }        
            }
            .conversation-time{
                font-size: 12px;
                color: #C8C8C8;
                margin: 0 9px 0 6px;
            }
            .conversation-shield{
                position: absolute;
                top: 42px;
                right: 11px;
                width: 14px;
                height: 14px;
                background: url(../../../assets/images/shield.svg) center center no-repeat;
                background-size: 14px;
            }
            .conversation-recentMsg{
                font-size: 12px;
                color: #999;
                line-height: 18px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 170px;
                height: 18px;
                .conversation-unread-text{
                    color: #2DD0CF;
                }
                .conversation-send-error{
                    width: 18px;
                    height: 18px;
                    cursor: pointer;
                    background: url(../../../assets/images/send-message-error.svg) 0 0 no-repeat;
                    background-size: 16px;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            .conversation-at{
                color: #EB424C;
            }
            .conversation-badge{
                position: absolute;
                top: -7px;
                right: -7px;
                font-size: 12px;
                line-height: 13px;
            }
        }
    }
}
.conversation-top-menu{
    position: fixed;
    width: 115px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.20);
            box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.20);
    border-radius: 2px;
    z-index: 999;
    ul{
        cursor: pointer;
        line-height: 36px;
        font-size: 14px;
        color: #808080;
        position: relative;
        border-radius: 2px;
        li{
            padding-left: 22px;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
        }
    }
}
