.other-info-container{
    width: 320px;
    overflow: hidden;
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.20);
    border-radius: 0;
    padding: 0 30px;
    color: #808080;
    .other-info-more{
        position: absolute;
        top: 0;
        right: 40px;
        display: block;
        width: 40px;
        height: 40px;
        background: url(../../../assets/images/drop-down.svg) 11px 16px no-repeat;
        cursor: pointer;
        &:hover{
            background-color: #F3F7FB;
        }
    } 
    .modal-close{
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        background-position: 9px 17px; 
        &:hover{
            background: #EB424C url(../../../assets/images/modal-close-active.svg) 9px 17px no-repeat;
        }
    }
    .other-info-avatar{
        padding: 52px 0 19px 0;
        margin-bottom: 14px;
        text-align: center;
        border-bottom: 1px solid #e3e6eb;
        .other-info-show-avatar{
            display: block;
            width: 60px;
            height: 60px;
            margin: 0 auto;
            overflow: hidden;
        }
        .other-info-avatar-username{
            line-height: 26px;
            margin: 12px 0 6px;
            font-size: 18px;
            color: #0B1816;
            text-align: center;
        }
        .other-info-signature{
            line-height: 26px;
            font-size: 14px;
        }
    }
    .other-info-p{
        line-height: 26px;
        margin-bottom: 12px;
        color: #808080;
        font-size: 14px;
        .other-info-fixed-width{
            width: 56px;
            text-align: justify;
        }
        .flex-1{
            color: #000C0A;
            margin-left: 12px;
            position: relative;
            overflow: visible;
            .other-info-edit{
                position: relative;
                width: 26px;
                height: 26px;
                display: inline-block;
                background: url(../../../assets/images/info-edit-normal.svg) center center no-repeat;
                background-size: 14px;
                margin-left: 6px;
                cursor: pointer;
                &:hover{
                    background-image: url(../../../assets/images/info-edit-active.svg);
                }
            }
            .other-info-edit-input{
                height: 26px;
                width: 160px;
                border: 1px solid #E3E6EB;
                border-radius: 2px;
                padding-left: 10px;
                box-sizing: border-box;
            }
        }
    }
    .modal-btn{
        margin: 25px 0 33px 0;
        &.modal-btn-1{
            .btn-active{
                width: 260px;
            }
        }
        &.modal-btn-2{
            button{
                width: 120px;
            }
            .btn-white{
                margin-right: 20px;
            }
        }
    }
}