.other-info-container{
    width: 320px;
    overflow: hidden;
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.20);
    border-radius: 0;
    padding: 0 30px;
    color: #808080;    
    .modal-close{
        top: 22px;
        right: 22px;
    }
    .other-info-avatar{
        padding: 52px 0 19px 0;
        margin-bottom: 14px;
        text-align: center;
        border-bottom: 1px solid #e3e6eb;
        .other-info-show-avatar{
            display: block;
            width: 60px;
            height: 60px;
            margin: 0 auto;
            overflow: hidden;
        }
        .other-info-avatar-username{
            line-height: 26px;
            margin: 12px 0 6px;
            font-size: 18px;
            color: #0B1816;
            text-align: center;
            .self-info-blacklist-icon{
                margin-left: 6px;
                display: inline-block;
                width: 16px;
                height: 18px;
                background: url(../../../assets/images/add-black-normal.svg) center center no-repeat;
                background-size: 16px;
                position: relative;
                top: 4px;
                cursor: pointer;
                &:hover, &.black{
                    background-image: url(../../../assets/images/add-black-active.svg);
                }
            }
        }
        .other-info-signature{
            line-height: 26px;
            font-size: 14px;
        }
    }
    .other-info-p{
        line-height: 26px;
        margin-bottom: 12px;
        color: #808080;
        font-size: 14px;
        .other-info-fixed-width{
            width: 56px;
            text-align: justify;
        }
        .flex-1{
            color: #000C0A;
            margin-left: 12px;
        }
    }
    .modal-btn{
        margin: 25px 0 33px 0;
        .btn-active{
            width: 260px;
        }
    }
}