<div class="display-flex contact-container flex-1">
    <div class="contact-list">
        <contact-list-component (changeTab)="changeTabEmit($event)" [verifyUnreadNum]="verifyUnreadNum"></contact-list-component>        
    </div>
    <div class="contact-conversation flex-1">
        <verify-component [hidden]="tab !== 0" [verifyMessageList]="verifyMessageList" (isAgreeAddFriend)="isAgreeAddFriendEmit($event)" (watchVerifyUser)="watchVerifyUserEmit($event)"></verify-component>
        <linkman-list-component [hidden]="tab !== 1" [friendList]="friendList" (selectLinkmanItemEmit)="selectContactItemEmit($event)"></linkman-list-component>           
        <group-list-component [hidden]="tab !== 2" [groupList]="groupList" (selectGroupItemEmit)="selectContactItemEmit($event)"></group-list-component>
    </div>
</div>
