.contact-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .contact-list{
        width: 270px;
        height: 100%;
        background-color: #fff;
        box-sizing: border-box;
        position: relative;
        border-right: 1px solid #D9DEE4;
    }
    .contact-conversation{
        position: relative;
        height: 100%;
    }
}


