<div class="menu-wrap" (mouseenter)="itemEnter()" (mouseleave)="itemLeave()">
    <div *ngIf="menu.arrorPosition === 'top'" class="menu-white"></div>
    <ul>
        <li class="menu-hover" [ngClass]="{'last': item.isLast && menu.arrorPosition === 'bottom', 'first': item.isFirst && menu.arrorPosition === 'top'}" [hidden]="!item.show" *ngFor="let item of menu.info;let num = index;" (click)="selectMenuItemAction(item)">
            <div *ngIf="num !== 2">{{item.name}}</div>
            <div class="copy" *ngIf="num === 2" [attr.data-clipboard-text]="menu.item?.content?.msg_body?.text">{{item.name}}</div>
            <div *ngIf="item.isLast && menu.arrorPosition === 'bottom'" class="menu-arror"></div>        
            <div *ngIf="item.isFirst && menu.arrorPosition === 'top'" class="menu-arror"></div> 
        </li>
    </ul>
    <div *ngIf="menu.arrorPosition === 'bottom'" class="menu-white"></div>
</div>