.linkman-list-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    h2{
        font-size: 16px;
        color: #2C2C2C;
        font-weight: 900;
        line-height: 40px;
        margin-bottom: 10px;
        padding-left: 18px;
    }
    .linkman-list-no-data{
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: #808080;
        font-size: 14px;
        opacity: 0.4;
    }
   .linkman-list-letter{
       padding-left: 25px;       
       height: 20px;
       line-height: 20px;
       color: #808080;
       font-size: 12px;
       position: relative;
       box-sizing: border-box;
       cursor: default;
       &:after{
           content: '';
           display: block;
           position: absolute;
           top: 4px;
           left: 18px;
           width: 2px;
           height: 12px;
           background: #2DD0CF;
       }
   }
   .linkman-list-name{
       padding-left: 18px;       
       cursor: pointer;
       line-height: 50px;
       color: #2c2c2c;
       font-size: 14px;
       .linkman-list-avatar{
           width: 30px;
           height: 30px;
           margin: 10px 10px 0 0;
           overflow: hidden;
           .group-avatar{
               width: 100%;
           }
       }
       &:hover{
           background-color: #F3F7FB !important;
       }
   }
}