<div class="room-detail">
    <div class="room-detail-info display-flex">
        <div class="flex-1">
            <p class="room-detail-name">{{roomDetail.name}}</p>
            <p class="gray">聊天室ID：<span>{{roomDetail.id}}</span></p>
        </div>
        <div class="room-detail-avatar">
            <img src="../../../assets/images/single-avatar.svg" alt="">
        </div>
    </div>
    <div class="room-detail-member">
        <span class="gray">在线人数：</span>{{roomDetail.total_member_count}}人
    </div>
    <div class="room-detail-description gray">
        聊天室介绍：{{roomDetail.description}}
    </div>
    <div class="room-detail-button">
        <button type=" button" class="btn-active" (click)="enterRoomAction()">进入聊天室</button>
    </div>
</div>