<div class="room-detail">
    <div class="room-detail-info display-flex">
        <div class="flex-1">
            <p class="room-detail-name">聊天室名称</p>
            <p class="gray">聊天室ID：<span>12345</span></p>
        </div>
        <div class="room-detail-avatar">
            <img src="../../../assets/images/single-avatar.svg" alt="">
        </div>
    </div>
    <div class="room-detail-member">
        <span class="gray">聊天室成员：</span>457人
    </div>
    <div class="room-detail-description gray">
        介绍：面朝大海～春暖花开...面朝大海～春暖 面朝大海～春暖花开面朝大海～春暖花开...面朝大海～春暖 面朝大海～春暖花开面朝大海～春暖花开...面朝大海～春暖 面朝大海～春暖花开
    </div>
    <div class="room-detail-button">
        <button type=" button" class="btn-active">进入聊天室</button>
    </div>
</div>