<div class="modal-shadow">
    <div class="modal-content create-group-container">
        <h2 class="modal-title">
            <span>转发</span>
            <span class="modal-close" (click)="cancelMessageTransmit()"></span>
        </h2>
        <div class="create-group-main">
            <div class="create-group-list">
                <div class="craete-group-search">
                    <!-- (clearInput)="clearInputEmit()" (searchBtn)="searchBtnEmit($event)" (changeChecked)="changeCheckedEmit($event)" -->
                    <search-transmit-component [searchUserResult]="searchResult" (searchBtn)="searchBtnEmit($event)" (changeInput)="changeInputEmit($event)" (searchUser)="searchKeyupEmit($event)"></search-transmit-component>
                </div>
                <perfect-scrollbar class="create-group-scroll">
                    <div *ngFor="let user of messageTransmit.list">
                        <div class="create-group-member" *ngIf="messageTransmit.list.length > 0">
                            <div class="create-group-item">
                                <div class="display-flex">
                                    <div class="create-group-avatar">
                                        <img [src]="user.avatarUrl ? (user.avatarUrl | sanitize: 'url') : ''" (load)="avatarLoad($event)" (error)="avatarErrorIcon($event, user)" alt="">
                                    </div>
                                    <div class="flex-1 create-group-username">{{user.memo_name || user.nickName || user.name}}</div>
                                    <label class="create-group-select-label">
                                        <input spellcheck="false" type="checkbox" (change)="selectItem($event, user)" [checked]="user.checked" [disabled]="user.disabled">
                                        <b></b>                                   
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </perfect-scrollbar>
            </div>
            <div class="create-group-select">
                <p class="create-group-select-title">已选成员</p>
                <perfect-scrollbar class="create-group-scroll-select">
                    <div *ngFor="let user of selectList" class="create-group-item">
                        <div class="display-flex">
                            <div class="create-group-avatar">
                                <img [src]="user.avatarUrl ? (user.avatarUrl | sanitize: 'url') : ''" (load)="avatarLoad($event)" (error)="avatarErrorIcon($event, user)" alt="">
                            </div>
                            <div class="flex-1">{{user.memo_name || user.nickName || user.name}}</div>
                            <div class="create-group-cancel-select" (click)="cancelSelect(user)"></div>
                        </div>
                    </div>
                </perfect-scrollbar>
            </div>
        </div>
        <p class="modal-btn modal-input create-group-name">
            <button type="button" (click)="confirmMessageTransmit()" class="btn-confirm btn-active float-right">确定</button>                     
            <button type="button" (click)="cancelMessageTransmit($event)" class="btn-cancel btn-white float-right">取消</button>         
        </p>
    </div>
</div>