.modify-password-wrap{
    .modify-password-input-1{
        margin-top: 31px;
    }
    .modify-password-input{
        margin-bottom: 22px;
        &.tip{
            margin-bottom: 13px;
        }
    }
    .modify-password-tip{
        font-size: 12px;
        line-height: 17px;
        color: #EB424C;
        margin-left: 28px;
        margin-top: 5px;
        text-align: left;
    }
}