<div class="modal-shadow modify-password-wrap">
    <div class="modal-content">
        <h2 class="modal-title">
            修改密码
            <span class="modal-close" (click)="cancelModify()"></span>
        </h2>
        <div class="modal-input modify-password-input modify-password-input-1" [ngClass]="{'tip': oldPwdTip}">
            <input spellcheck="false" class="input-focus" type="password" [(ngModel)]="oldPassword" (keyup)="emptyTip('oldPassword')" placeholder="请输入现有密码">
            <p class="modify-password-tip" *ngIf="oldPwdTip">原密码错误</p>
        </div>
        <div class="modal-input modify-password-input">
            <input spellcheck="false" class="input-focus" type="password" [(ngModel)]="newPassword" (keyup)="emptyTip('newPassword')" placeholder="请输入新密码">
        </div>
        <div class="modal-input">
            <input spellcheck="false" class="input-focus" type="password" [(ngModel)]="newPasswordRepeat" (keyup)="emptyTip('newPassword')" placeholder="请再次输入新密码">
            <p class="modify-password-tip" *ngIf="repeatPwdTip === 1">两次密码输入不一致</p>
            <p class="modify-password-tip" *ngIf="repeatPwdTip === 2">密码长度为4-128位</p>
        </div>
        <div class="modal-btn">
            <button type="button" (click)="cancelModify()" class="btn-cancel btn-white">取消</button>            
            <button type="button" (click)="confirmModify()" class="btn-confirm btn-active">确定</button>
        </div>
    </div>
</div>