<perfect-scrollbar class="at-list-contianer" (click)="stopPropagation($event)" [ngStyle]="{'top': atList.top - (atList.list.length > 5 ? 6 : atList.list.length) * 36 - 5 - (atList.showAll && atList.list.length < 6 ? 36 : 0) + (atList.hasMyself && atList.list.length < 6 ? 36 : 0) + 'px', 'left': atList.left - 20 + 'px'}">
    <a *ngIf="atList.showAll" href="javascript: ;" (click)="selectPerson({username: '所有成员'}, $event)">
        <div class="clearfix at-list-all">
            <div class="float-left at-list-avatar">
                <img src="../../../assets/images/group-avatar.svg" alt="">                
            </div>
            <span class="float-left at-list-text">所有成员</span>
        </div>
    </a>
    <ul>
        <a href="javascript: ;" *ngFor="let item of atList.list" (click)="selectPerson(item, $event)">
            <li class="clearfix" *ngIf="global.user !== item.username">
                <div class="float-left at-list-avatar">
                    <img avatarLoad [avatarError]="3" [src]="item.avatarUrl | sanitize : 'url'" alt="">                
                </div>
                <span class="float-left at-list-text" *ngIf="atList.showAll">{{item.memo_name || item.nickName || item.username}}</span>
                <span class="float-left at-list-text" *ngIf="!atList.showAll">{{item.match === 'memo_name' ? item.memo_name : (item.match === 'nickName' ? item.nickName : item.username)}}</span>
            </li>
        </a>
    </ul>
</perfect-scrollbar>