<div class="emoji-container" (click)="stopPropagation($event)" [ngStyle]="{top: emojiInfo.position.top - 280 + 'px', left: emojiInfo.position.left + 2 + 'px'}">
    <div [hidden]="tab === 1" class="emoji-normal clearfix">
        <ul class="clearfix">
            <li *ngFor="let item of emojiInfo.emojiAlias; let num = index;" [title]="item.text">
                <a [id]="'emoji-face' + num" href="javascript:;" (click)="emojiSelectAction('emoji-face' + num)" [innerHTML]="item.unicode | emoji: {nbsp: false, href: false, fontSize: 22} | sanitize: 'html'"></a>
            </li>
        </ul>
    </div>
    <!--发送极光表情-->
    <div [hidden]="tab === 0">
        <perfect-scrollbar class="emoji-jpush-scroll">
            <ul class="emoji-jpush">
                <li *ngFor="let item of emojiInfo.jpushAlias" [title]="item.text" [ngStyle]="{'background': '#fff url('+ jpushRouter + item.imgNum + '.png) top left no-repeat', 'background-size': '95px'}">
                    <a href="javascript:;" (click)="jpushEmojiSelectAction(item)"></a>
                </li>
            </ul>
        </perfect-scrollbar>
    </div>
    <div class="emoji-tab">
        <button type="button" (click)="changeTab($event, 0)" class="emoji-tab-normal float-left" [ngClass]="{'active': tab === 0}"></button>
        <button type="button" (click)="changeTab($event, 1)" class="emoji-tab-jpush float-left" [ngClass]="{'active': tab === 1}"></button>
    </div>
</div>