.single-chat-wrap{
    .modal-input{
        padding-top: 31px;
        input.error{
            border-color: #EB424C;
        }
        .modal-info{
            text-align: left;
            padding-left: 26px;
            font-size: 12px;
            color: #EB424C;
            margin-top: 5px;
            line-height: 17px;
        }
    }
}