.video-container{
    width: 600px;
    height: 400px;
    top: 50%;
    left: 50%;
    position: fixed;
    margin: -200px 0 0 -300px;
    background-color: #000;
    .video-close{
        position: absolute;
        top: -10px;
        right: -10px;
        display: block;
        width: 32px;
        height: 32px;
        background: url(../../../assets/images/viewer-close.svg) center center no-repeat;
        background-size: 32px;
        cursor: pointer;
        z-index: 1;
    }
    video{
        width: 100%;
        height: 370px;
        display: block;
    }
    .video-toolbar{
        height: 30px;
        background-color: #292929;
        .video-play{
            width: 30px;
            height: 30px;
            cursor: pointer;
            margin-left: 18px;
            &.play{
                background: url(../../../assets/images/play-normal.svg) center center no-repeat;
                background-size: 14px;
                &:hover{
                    background-image: url(../../../assets/images/play-active.svg);
                }
            }
            &.pause{
                background: url(../../../assets/images/pause-normal.svg) center center no-repeat;
                background-size: 14px;
                &:hover{
                    background-image: url(../../../assets/images/pause-active.svg);
                }
            }
        }
        .video-range{
            width: 438px;
            margin: 0 14px;
            height: 100%;
            cursor: pointer;
            >div{
                margin-top: 14px;
                width: 100%;
                height: 3px;
                border-radius: 2px;
                background-color: #a5a5a5;                
                >div{
                    height: 100%;
                    border-radius: 2px;
                    background-color: #e6e6e6;
                }
            }
        }
        .video-current-time{
            color: #a5a5a5;
            font-size: 12px;
            line-height: 30px;
            width: 30px;
        }
        .video-duration{
            color: #a5a5a5;
            font-size: 12px;
            line-height: 30px;
            width: 30px;
        }
    }
}