<div class="main-wrap display-flex align-items-center" id="main">
    <div class="main-container display-flex">
        <div class="main-menu">
            <div class="main-self-avatar">
                <img (load)="avatarLoad($event)" [src]="self.info.avatarUrl" (click)="getSelfInfo($event)" (error)="avatarErrorIcon($event)" alt="">
            </div>
            <div class="main-tab">
                <div (click)="changeListTab(0)" class="main-chat">
                    <div class="main-conversation-icon" [ngClass]="{active: listTab === 0}" [hoverEvent]="conversationHover">
                        <jui-badge *ngIf="badge.conversation > 0" class="main-badge" displayType="no-wrapper" [badgeNum]="badge.conversation" showZero="false" maxNum="999"></jui-badge>                        
                    </div>
                    <hover-tip-component [hidden]="!conversationHover.show" [hoverInfo]="conversationHover"></hover-tip-component>
                </div>
                <div (click)="changeListTab(1)" class="main-chat">
                    <div class="main-contact-icon" [ngClass]="{active: listTab === 1}" [hoverEvent]="contactHover">
                        <jui-badge *ngIf="badge.contact > 0" class="main-badge" displayType="no-wrapper" [badgeNum]="badge.contact" showZero="false" maxNum="999"></jui-badge>
                    </div>
                    <hover-tip-component [hidden]="!contactHover.show" [hoverInfo]="contactHover"></hover-tip-component>
                </div>
            </div>
            <div class="main-add-container">
                <div class="main-add-single">
                    <div [hoverEvent]="createHover" class="main-add-single-icon" (click)="chatMenuShow($event)" [ngClass]="{'active': chatMenu.show}"></div>
                    <menu-component [hidden]="!chatMenu.show" [menu]="chatMenu" (selectMenuItem)="selectChatMenuItemEmit($event)"></menu-component>
                    <hover-tip-component [hidden]="!createHover.show" [hoverInfo]="createHover"></hover-tip-component>
                </div>
                <div class="main-setting">
                    <div [hoverEvent]="moreHover" class="main-setting-icon" (click)="settingMenuShow($event)" [ngClass]="{'active': settingMenu.show}"></div>
                    <menu-component [hidden]="!settingMenu.show" [menu]="settingMenu" (selectMenuItem)="selectSettingItemEmit($event)"></menu-component>
                    <hover-tip-component [hidden]="!moreHover.show" [hoverInfo]="moreHover"></hover-tip-component>
                </div>
            </div>
        </div>
        <div class="main-right-container flex-1 display-flex flex-direction-vertical">
            <search-user-component [searchUserResult]="searchUserResult" (searchUser)="searchUserEmit($event)" (selectUserResult)="selectUserResultEmit($event)"></search-user-component>
            <div class="display-flex main-center-container flex-1" style="position: relative;">
                <chat-component [hideAll]="listTab === 0" [ngClass]="{'flex-1': listTab === 0}" style="position: relative;"></chat-component>
                <contact-component [hidden]="listTab === 0" class="flex-1"></contact-component>
            </div>
        </div>
    </div>
    <self-info-component *ngIf="self.show" [selfInfo]="self.info" (isShow)="selfInfoEmit($event)" (selectIsNotImage)="selectIsNotImageEmit()"></self-info-component>    
    <create-group-component *ngIf="createGroup.show" [createGroup]="createGroup" (isCreateGroup)="createGroupEmit($event)"></create-group-component>
    <modify-password-component [hidden]="!isModifyPasswordShow" (modifyPassword)="modifyPasswordEmit($event)"></modify-password-component>
    <tip-modal-component *ngIf="tipModal.show" [info]="tipModal.info" (modalTipEmit)="modalTipEmit($event)"></tip-modal-component>
    <create-single-chat-component *ngIf="createSingleChat.show" [createSingleOption]="createSingleOption" [info]="createSingleChat.info" (emptySingleChatTip)="emptySingleChatTipEmit()" (createSingleChat)="createSingleChatEmit($event)"></create-single-chat-component>
    <black-menu-component [hidden]="!blackMenu.show" [menuInfo]="blackMenu.menu" (blockMenuConfirm)="blackMenuConfirmEmit()" (delSingleBlack)="delSingleBlackEmit($event)"></black-menu-component>
    <logout-kick-component *ngIf="logoutKick.show" [info]="logoutKick.info" (modalTipEmit)="logoutKickEmit($event)"></logout-kick-component>
</div>
<div class="copyright-container">
    <img src="../../../assets/images/copyright.svg" alt="">
    <p>
        深圳市和讯华谷信息技术有限公司 版权所有 @2011-2017  粤ICP备12056275号-13
    </p>
</div>
