<div class="room-infomation" (click)="stopPropagation($event)" [ngClass]="{'in': roomInfomation.show, 'void': !roomInfomation.show}">
    <span class="room-infomation-close" (click)="closeRoomInfomation()"></span>
    <div class="room-infomation-header">
        <div class="room-infomation-title">聊天室资料</div>
    </div>
    <div class="room-infomation-detail">
        <div class="display-flex room-infomation-main">
            <div class="room-infomation-avatar">
                <img src="../../../assets/images/room-avatar.svg" alt="">
            </div>
            <div class="flex-1">
                <p class="room-infomation-name" [title]="roomInfomation.info.name">{{roomInfomation.info.name}}</p>
                <p class="room-infomation-id">ID：{{roomInfomation.info.id}}</p>
            </div>
        </div>
        <!-- <div class="room-infomation-member">
            在线人数：{{roomInfomation.info.total_member_count}}人
        </div> -->
        <div class="room-infomation-description">聊天室介绍：{{roomInfomation.info.description}}</div>
    </div>
</div>