.room-infomation{
    width: 260px;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    font-size: 12px;
    color: #2C2C2C;
    -webkit-transform: translateX(101%) translate3d(0, 0, 0);
            transform: translateX(101%) translate3d(0, 0, 0);
    &.in{
        -webkit-transform: translateX(0) translate3d(0, 0, 0);
                transform: translateX(0) translate3d(0, 0, 0);
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
    &.void{
        -webkit-transform: translateX(101%) translate3d(0, 0, 0);
                transform: translateX(101%) translate3d(0, 0, 0);
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
    .room-infomation-close{
        position: absolute;
        top: 15px;
        right: 20px;
        cursor: pointer;
        width: 14px;
        height: 14px;
        background: url(../../../assets/images/modal-close.svg) center center no-repeat;
        background-size: 14px;
        &:hover{
            background-image: url(../../../assets/images/modal-close-active2.svg);
        }
    }
    .room-infomation-header{
        padding-left: 20px;
        .room-infomation-title{
            height: 40px;
            margin-right: 20px;
            border-bottom: 1px solid  #E3E6EB;
            line-height: 40px;
            font-size: 14px;
        }
    }
    .room-infomation-detail{
        padding: 20px 20px 0 20px;
        .room-infomation-main{
            margin-bottom: 21px;
            .room-infomation-avatar{
                height: 60px;
                width: 60px;
                overflow: hidden;
                margin-right: 11px;
                img{
                    display: block;
                    width: 100%;
                }
            }
            .room-infomation-name{
                font-size: 14px;
                color: #2C2C2C;
                line-height: 20px;
                margin: 8px 0 7px 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .room-infomation-id{
                color: #999;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .room-infomation-member{
            margin-bottom: 15px;
            line-height: 17px;
        }
        .room-infomation-description{
            line-height: 17px;
        }
    }
}