.paste-image-content{
    width: 400px;
    height: 360px;
    background: #FFFFFF;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0 35px;
    box-sizing: border-box;
    h2{
        height: 74px;
        font-size: 16px;
        color: #2C2C2C;
        font-weight: 100;
        line-height: 74px;
        text-align: center;
    }
    .drop-file-container{
        text-align: center;
        width: 330px;
        height: 200px;
        padding-top: 28px;
        box-sizing: border-box;
        .drop-file-icon{
            width: 100px;
            height: 100px;
            margin: 0 auto;
            background: url(../../../assets/images/file-other.svg) center center no-repeat;
            &.document{
                background-image: url(../../../assets/images/file-send.svg);
            }
            &.audio{
                background-image: url(../../../assets/images/file-music.svg);
            }
            &.video{
                background-image: url(../../../assets/images/file-video.svg);
            }
            &.image{
                background-image: url(../../../assets/images/file-image.svg);
            }
            background-size: 100px;            
        }
        .drop-file-name{
            margin-top: 16px;
            line-height: 20px;
            font-size: 14px;
            color: #2C2C2C;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .drop-file-size{
            font-size: 14px;
            color: #808080;
            line-height: 20px;
            margin-top: 7px;
        }
    }
    .modal-close{
        width: 14px;
        height: 14px;
        content: '';
        display: block;
        position: absolute;
        top: 21px;
        right: 21px;
        background: url(../../../assets/images/modal-close.svg) center center no-repeat;
        cursor: pointer;
    }
    .modal-btn{
        height: 86px;
        padding-top: 31px;
        box-sizing: border-box;
        button{
            width: 150px;
        }
    }
}
