<div class="modal-shadow">
    <div class="modal-content">
        <h2 class="modal-title">
            验证消息
            <span class="modal-close" (click)="closeModal()"></span>
        </h2>
        <div class="verify-modal-textarea">
            <textarea spellcheck="false" [(ngModel)]="modelText" class="input-focus" maxlength="80"></textarea>
        </div>
        <p class="modal-btn">
            <button type="button" class="btn-cancel btn-white" (click)="closeModal()">取消</button>
            <button type="button" class="btn-confirm btn-active" (click)="verifyModalAction(modelText)">确定</button>            
        </p>
    </div>
</div>