<div class="room-panel-shadow" *ngIf="!loadFlag"></div>
<div class="room-panel">
    <div class="room-panel-container display-flex flex-direction-vertical">
        <div class="room-panel-board flex-1 display-flex flex-direction-vertical">
            <div class="room-panel-setting">
                <span class="room-panel-name">{{enter.name}}</span>
                <div class="room-panel-group-setting" (click)="showRoomInfomationAction()" [hoverEvent]="roomInfomationHover">
                    <hover-tip-component [hidden]="!roomInfomationHover.show" [hoverInfo]="roomInfomationHover"></hover-tip-component>
                </div>
            </div>
            <div class="room-panel-message-borad flex-1">
                <perfect-scrollbar class="room-panel-scroll">
                    <div class="chat-panel-wrap" *ngFor="let i of messageList; let num = index;">
                        <!-- 时间 -->
                        <p class="room-panel-time" [ngClass]="{'first': num === 0}" *ngIf="i.time_show" [ngSwitch]="i.time_show">
                            <time *ngSwitchCase="'year'">{{i.ctime_ms | time:"yy-MM-dd HH:mm"}}</time>
                            <time *ngSwitchCase="'month'">{{i.ctime_ms | time:"MM-dd HH:mm"}}</time>
                            <time *ngSwitchCase="'day'">{{i.ctime_ms | day}} {{i.ctime_ms | time:"HH:mm"}}</time>
                            <time *ngSwitchCase="'the day before'">前天 {{i.ctime_ms | time:"HH:mm"}}</time>
                            <time *ngSwitchCase="'yesterday'">昨天 {{i.ctime_ms | time:"HH:mm"}}</time>
                            <time *ngSwitchCase="'today'">{{i.ctime_ms | time:"HH:mm"}}</time>
                        </p>
                        <!-- 群聊事件消息 -->                    
                        <p *ngIf="i.msg_type === 5" class="room-panel-add-members">
                            <span>{{i.content.msg_body.text}}</span>
                        </p>
                        <!-- 接收到他人的消息 -->
                        <div class="room-panel-you-msg room-panel-msg" *ngIf="global.user != i.content.from_id && i.msg_type !== 5">
                            <!-- 文本消息 -->
                            <div *ngIf="i.content.msg_type === 'text' && (!i.content.msg_body.extras || !i.content.msg_body.extras.businessCard)" class="clearfix" (mouseleave)="msgMouseleave()">
                                <div class="float-left room-panel-fromId-you room-panel-avatar" (click)="watchOtherInfo(i.content)">
                                    <img avatarLoad [avatarError]="3" [src]="i.content.avatarUrl | sanitize: 'url'" alt="">
                                </div>
                                <div class="float-left">
                                    <div class="group-username" [title]="i.content.memo_name || i.content.from_name || i.content.from_id">{{i.content.memo_name || i.content.from_name || i.content.from_id}}</div>
                                    <div class="room-panel-msgText-you" [ngClass]="{'jpush-emoji-container': i.content.msg_body.text.indexOf('jpush-emoji') !== -1}">
                                        <p class="room-panel-text-msg" [innerHTML]="i.content.msg_body.text | emoji: {nbsp: true, href: true, fontSize: 18} | sanitize: 'html'" [ngClass]="{'room-panel-jpush-emoji': i.content.msg_body.text.indexOf('jpush-emoji') !== -1}"></p>
                                        <div class="room-panel-more room-panel-more-you display-flex flex-direction-vertical justify-content-end align-items-end" [ngClass]="{'show-more-icon': i.showMoreIcon}">
                                            <div class="room-panel-operation" (click)="showYouMoreText($event, i)"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 名片消息 -->
                            <div *ngIf="i.content.msg_type === 'text' && i.content.msg_body?.extras?.businessCard" (mouseleave)="msgMouseleave()" [ngStyle]="{height: 105 + 16 + 'px'}" class="clearfix">
                                <div class="room-panel-fromId-you float-left room-panel-avatar" (click)="watchOtherInfo(i.content)">
                                    <img avatarLoad [avatarError]="3" [src]="i.content.avatarUrl | sanitize: 'url'" alt="">
                                </div>
                                <div class="float-left clearfix room-panel-business-card">
                                    <div class="group-username" [title]="i.content.memo_name || i.content.from_name || i.content.from_id">{{i.content.memo_name || i.content.from_name || i.content.from_id}}</div>
                                    <div class="float-left room-panel-card room-panel-card-you" (click)="watchBusinessCardInfo(i.content.msg_body.extras)">
                                        <div class="display-flex room-panel-card-icon room-panel-card-icon-you">
                                            <div class="room-panel-card-icon-avatar">
                                                <img avatarLoad [avatarError]="3" [src]="i.content.msg_body.extras.media_url | sanitize: 'url'" alt="">
                                            </div>
                                            <div class="flex-1 display-flex justify-content-center flex-direction-vertical">
                                                <p class="room-panel-card-name" [title]="i.content.msg_body.extras.nickName || i.content.msg_body.extras.userName">{{i.content.msg_body.extras.nickName || i.content.msg_body.extras.userName}}</p>
                                                <p class="room-panel-card-username" *ngIf="i.content.msg_body.extras.nickName" [title]="i.content.msg_body.extras.userName">用户名： {{i.content.msg_body.extras.userName | fileName: 12}}</p>                                                    
                                            </div>
                                        </div>
                                        <div class="room-panel-card-range">个人名片</div>
                                    </div>
                                </div>
                                <div class="room-panel-more float-left display-flex flex-direction-vertical justify-content-end align-items-end" [ngClass]="{'show-more-icon': i.showMoreIcon}">
                                    <div class="room-panel-operation" (click)="showYouMoreOther($event, i)"></div>
                                </div>
                            </div>
                            <!-- 图片消息 -->
                            <div *ngIf="i.content.msg_type === 'image'" (mouseleave)="msgMouseleave()" [ngStyle]="{height: i.content.msg_body.extras && i.content.msg_body.extras.kLargeEmoticon === 'kLargeEmoticon' ? 140 + 16 + 'px' : (i.content.msg_body.width > 219 || i.content.msg_body.height > 300 ? (i.content.msg_body.width/i.content.msg_body.height > 219/300 ? 219/i.content.msg_body.width * i.content.msg_body.height + 16 + 'px' : 300 +16 + 'px' ) : i.content.msg_body.height +16 + 'px')}" class="clearfix room-panel-img">
                                <div class="float-left room-panel-fromId-you room-panel-avatar" (click)="watchOtherInfo(i.content)">
                                    <img avatarLoad [avatarError]="3" [src]="i.content.avatarUrl | sanitize: 'url'" alt="">
                                </div>
                                <div *ngIf="!i.content.msg_body.extras || (i.content.msg_body.extras && !i.content.msg_body.extras.kLargeEmoticon)" class="float-left">
                                    <div class="group-username" [title]="i.content.memo_name || i.content.from_name || i.content.from_id">{{i.content.memo_name || i.content.from_name || i.content.from_id}}</div>
                                    <div [ngClass]="{'img-loading': !i.content.msg_body.loading}" *ngIf="!i.content.msg_body.extras || i.content.msg_body.extras.kLargeEmoticon !== 'kLargeEmoticon'" [ngStyle]="{'width': i.content.msg_body.width > 219 || i.content.msg_body.height > 300 ? (i.content.msg_body.width/i.content.msg_body.height > 219/300 ? 219 + 'px' : i.content.msg_body.width/i.content.msg_body.height * 300 + 'px') : i.content.msg_body.width + 'px', 'height': i.content.msg_body.width > 219 || i.content.msg_body.height > 300 ? (i.content.msg_body.width/i.content.msg_body.height < 219/300 ? 300 + 'px' : i.content.msg_body.height/i.content.msg_body.width * 219 + 'px') : i.content.msg_body.height + 'px'}">
                                        <img (load)="imgLoaded(i)" title="点击查看大图" (click)="imageViewerShow(i)" class="room-panel-message-img" [src]="i.content.msg_body.media_url | sanitize: 'url'" alt="">
                                    </div>
                                </div>
                                <!-- 表情 -->
                                <div *ngIf="i.content.msg_body.extras && i.content.msg_body.extras.kLargeEmoticon === 'kLargeEmoticon'" class="float-left">
                                    <div class="group-username" [title]="i.content.memo_name || i.content.from_name || i.content.from_id">{{i.content.memo_name || i.content.from_name || i.content.from_id}}</div>
                                    <div class="float-left" [ngClass]="{'img-loading': !i.content.msg_body.loading}" style="width: 140px;height: 140px;">
                                        <img (load)="imgLoaded(i)" class="room-panel-message-jpush" [src]="i.content.msg_body.media_url | sanitize: 'url'" alt="">
                                    </div>
                                </div>
                                <div class="room-panel-more float-left display-flex flex-direction-vertical justify-content-end align-items-end" [ngClass]="{'show-more-icon': i.showMoreIcon}">
                                    <div class="room-panel-operation" (click)="showYouMoreOther($event, i)"></div>
                                </div>
                            </div>
                            <!-- 文件消息 -->
                            <div *ngIf="i.content.msg_type === 'file' && (!i.content.msg_body.extras || !i.content.msg_body.extras.video)" (mouseleave)="msgMouseleave()" [ngStyle]="{height: 112 + 16 + 'px'}" class="clearfix">
                                <div class="room-panel-fromId-you float-left room-panel-avatar" (click)="watchOtherInfo(i.content)">
                                    <img avatarLoad [avatarError]="3" [src]="i.content.avatarUrl | sanitize: 'url'" alt="">
                                </div>
                                <div class="float-left clearfix">
                                    <div class="group-username" [title]="i.content.memo_name || i.content.from_name || i.content.from_id">{{i.content.memo_name || i.content.from_name || i.content.from_id}}</div>
                                    <div class="float-left room-panel-file-you" [class.loading]="!i.content.msg_body.media_url">
                                        <div [ngSwitch]="i.content.msg_body?.extras?.fileType | fileType" class="display-flex room-panel-file-icon room-panel-file-icon-you" [title]="i.content.msg_body.fname">
                                            <div *ngSwitchCase="'image'" class="image"></div>
                                            <div *ngSwitchCase="'video'" class="video"></div>
                                            <div *ngSwitchCase="'audio'" class="audio"></div>
                                            <div *ngSwitchCase="'document'" class="document"></div>
                                            <div *ngSwitchDefault></div>
                                            <p class="flex-1">{{i.content.msg_body.fname | fileName: 12}}</p>
                                        </div>
                                        <div class="room-panel-range">
                                            <div>
                                                <span class="float-left">{{i.content.msg_body.fsize | fileSize}}</span>
                                                <span class="float-right room-panel-download-file" (click)="fileDownload(i.content.msg_body.media_url)">下载文件</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="room-panel-more float-left display-flex flex-direction-vertical justify-content-end align-items-end" [ngClass]="{'show-more-icon': i.showMoreIcon}">
                                    <div class="room-panel-operation" (click)="showYouMoreOther($event, i)"></div>
                                </div>            
                            </div>
                            <!-- 视频消息 -->
                            <div *ngIf="i.content.msg_type === 'file' && i.content.msg_body.extras && i.content.msg_body.extras.video" [ngStyle]="{height: 140 + 16 + 'px'}" (mouseleave)="msgMouseleave()" class="clearfix">
                                <div class="room-panel-fromId-you float-left room-panel-avatar" (click)="watchOtherInfo(i.content)">
                                    <img avatarLoad [avatarError]="3" [src]="i.content.avatarUrl | sanitize: 'url'" alt="">
                                </div>
                                <div class="float-left">
                                    <div class="group-username" [title]="i.content.memo_name || i.content.from_name || i.content.from_id">{{i.content.memo_name || i.content.from_name || i.content.from_id}}</div>
                                    <div class="room-panel-video">
                                        <video (click)="playVideo(i.content.msg_body.media_url)" [src]="i.content.msg_body.media_url | sanitize: 'url'" (loadstart)="videoLoadStart(num)" (loadeddata)="videoLoad(num)" [id]="'video2' + num">
                                        </video>
                                        <div class="room-panel-video-play" (click)="playVideo(i.content.msg_body.media_url)" *ngIf="i.content.load === 1">
                                            <span>{{i.content.duration | videoTime}}</span>
                                        </div>
                                        <div class="room-panel-video-shadow" *ngIf="i.content.load === 0">{{i.content.range}}%</div>
                                    </div>
                                </div>
                                <div class="room-panel-more float-left display-flex flex-direction-vertical justify-content-end align-items-end" [ngClass]="{'show-more-icon': i.showMoreIcon}">
                                    <div class="room-panel-operation" (click)="showYouMoreOther($event, i)"></div>
                                </div>
                            </div>
                            <!-- 地理定位 -->
                            <div *ngIf="i.content.msg_type === 'location'" (mouseleave)="msgMouseleave()" class="room-panel-location clearfix" [ngStyle]="{height: 150 + 16 + 'px'}">
                                <div class="float-left room-panel-fromId-you room-panel-avatar" (click)="watchOtherInfo(i.content)">
                                    <img avatarLoad [avatarError]="3" [src]="i.content.avatarUrl | sanitize: 'url'" alt="">
                                </div>
                                <div class="float-left">
                                    <div class="group-username" [title]="i.content.memo_name || i.content.from_name || i.content.from_id">{{i.content.memo_name || i.content.from_name || i.content.from_id}}</div>
                                    <div class="room-panel-map-wrap">
                                        <a [routerLink]="['/map', i.content.msg_body.longitude + '&' + i.content.msg_body.latitude + '&' + i.content.msg_body.scale]" target="_blank">                                
                                            <div [id]="'allmap2' + num" class="float-left room-panel-allmap" title="点击查看详细地图"></div>
                                        </a>                                    
                                        <p class="room-panel-address" [title]="i.content.msg_body.label" *ngIf="i.content.msg_body.label">{{i.content.msg_body.label}}</p>
                                    </div>
                                </div>
                                <div class="room-panel-more float-left display-flex flex-direction-vertical justify-content-end align-items-end" [ngClass]="{'show-more-icon': i.showMoreIcon}">
                                    <div class="room-panel-operation" (click)="showYouMoreOther($event, i)"></div>
                                </div>
                            </div>
                            <!-- 语音 -->
                            <div *ngIf="i.content.msg_type === 'voice'" (mouseleave)="msgMouseleave()" class="room-panel-voice room-panel-voice-you clearfix">
                                <div class="float-left room-panel-fromId-you room-panel-avatar" (click)="watchOtherInfo(i.content)">
                                    <img avatarLoad [avatarError]="3" [src]="i.content.avatarUrl | sanitize: 'url'" alt="">
                                </div>
                                <div class="float-left">
                                    <div class="group-username" [title]="i.content.memo_name || i.content.from_name || i.content.from_id">{{i.content.memo_name || i.content.from_name || i.content.from_id}}</div>
                                    <div class="room-panel-voice-sound room-panel-voice-sound-you" [ngClass]="{loading: i.content.load === 0}">
                                        <div (click)="playVoice(num)" [ngStyle]="{'width': i.content.msg_body.duration * 20 + 'px'}">
                                            <span class="float-right room-panel-voice-duration">{{i.content.msg_body.duration | floor}}''</span>
                                            <div class="room-panel-voice-animate" [ngClass]="{'active': i.content.playing}"></div>
                                        </div>
                                        <b *ngIf="!i.content.havePlay"></b>                                    
                                        <audio [id]="'audio2' + num" (ended)="voiceEnded(num)" (loadeddata)="voiceLoad(num)" [src]="i.content.msg_body.media_url | sanitize: 'url'">
                                            <source [src]="i.content.msg_body.media_url">
                                        </audio>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 自己发送的消息  -->
                        <div class="room-panel-me-msg room-panel-msg" *ngIf="global.user === i.content.from_id && i.msg_type !== 5">
                            <!-- 文本消息 -->
                            <div *ngIf="i.content.msg_type === 'text' && (!i.content.msg_body.extras || !i.content.msg_body.extras.businessCard)" class="clearfix" (mouseleave)="msgMouseleave()">
                                <div class="float-right room-panel-fromId-me room-panel-avatar" (click)="watchSelfInfo()">
                                    <img avatarLoad [avatarError]="3" [src]="selfInfo.avatarUrl | sanitize: 'url'" alt="">
                                </div>
                                <div class="room-panel-text-arror float-right"></div>
                                <div class="room-panel-msgText-me float-right" [ngClass]="{'jpush-emoji-container': i.content.msg_body.text.indexOf('jpush-emoji') !== -1}">
                                    <div *ngIf="i.success === 1" class="room-panel-send-loading"></div>                                
                                    <div *ngIf="i.success === 3" class="room-panel-send-error align-items-center display-flex" (click)="repeatSendMsgAction(i)"></div>                                
                                    <p class="room-panel-text-msg" [innerHTML]="i.content.msg_body.text | emoji: {nbsp: true, href: true, fontSize: 18} | sanitize: 'html'" [ngClass]="{'room-panel-jpush-emoji': i.content.msg_body.text.indexOf('jpush-emoji') !== -1}"></p>
                                    <div *ngIf="i.success !== 1 && i.success !== 3" class="room-panel-more room-panel-more-text room-panel-more-me display-flex flex-direction-vertical justify-content-end align-items-end" [ngClass]="{'show-more-icon': i.showMoreIcon}">
                                        <div class="room-panel-operation" (click)="showMeMoreText($event, i)"></div>                                    
                                    </div>
                                </div>
                            </div>
                            <!-- 名片消息 -->
                            <div *ngIf="i.content.msg_type === 'text' && i.content.msg_body?.extras?.businessCard" (mouseleave)="msgMouseleave()" class="clearfix" style="height: 105px;">
                                <div class="room-panel-fromId-me float-right room-panel-avatar" (click)="watchSelfInfo()">
                                    <img avatarLoad [avatarError]="3" [src]="selfInfo.avatarUrl | sanitize: 'url'" alt="">
                                </div>
                                <div class="float-right clearfix room-panel-business-card">
                                    <div *ngIf="i.success === 1" class="room-panel-send-loading"></div>                                
                                    <div *ngIf="i.success === 3" class="room-panel-send-error align-items-center display-flex" (click)="repeatSendMsgAction(i)"></div>
                                    <div class="float-left room-panel-card room-panel-card-me" (click)="watchBusinessCardInfo(i.content.msg_body.extras)">
                                        <div class="display-flex room-panel-card-icon room-panel-card-icon-me">
                                            <div class="room-panel-card-icon-avatar">
                                                <img avatarLoad [avatarError]="3" [src]="i.content.msg_body.extras.media_url | sanitize: 'url'" alt="">
                                            </div>
                                            <div class="flex-1 display-flex justify-content-center flex-direction-vertical">
                                                <p class="room-panel-card-name" [title]="i.content.msg_body.extras.nickName || i.content.msg_body.extras.userName">{{i.content.msg_body.extras.nickName || i.content.msg_body.extras.userName}}</p>
                                                <p class="room-panel-card-username" *ngIf="i.content.msg_body.extras.nickName" [title]="i.content.msg_body.extras.userName">用户名： {{i.content.msg_body.extras.userName | fileName: 12}}</p>                                                    
                                            </div>
                                        </div>
                                        <div class="room-panel-card-range">个人名片</div>
                                    </div>
                                </div>
                                <div *ngIf="i.success !== 1 && i.success !== 3" class="room-panel-more room-panel-more-me float-right display-flex flex-direction-vertical justify-content-end align-items-end" [ngClass]="{'show-more-icon': i.showMoreIcon}">
                                    <div class="room-panel-operation" (click)="showMeMoreOther($event, i)"></div>
                                </div>
                            </div>
                            <!-- 图片消息 -->
                            <div class="room-panel-img-me room-panel-img clearfix" (mouseleave)="msgMouseleave()" *ngIf="i.content.msg_type == 'image'" [ngStyle]="{height: i.content.msg_body.extras && i.content.msg_body.extras.kLargeEmoticon === 'kLargeEmoticon' ? '140px' : (i.content.msg_body.width > 219 || i.content.msg_body.height > 300 ? (i.content.msg_body.width/i.content.msg_body.height > 219/300 ? 219/i.content.msg_body.width * i.content.msg_body.height + 'px' : 300 + 'px' ) : i.content.msg_body.height + 'px')}">
                                <div class="room-panel-fromId-me float-right room-panel-avatar" (click)="watchSelfInfo()">
                                    <img avatarLoad [avatarError]="3" [src]="selfInfo.avatarUrl | sanitize: 'url'" alt="">
                                </div>
                                <div *ngIf="!i.content.msg_body.extras || (i.content.msg_body.extras && !i.content.msg_body.extras.kLargeEmoticon)" class="float-right room-panel-message-img-wrap" [ngClass]="{'room-panel-message-img-loading': i.success === 1}">
                                    <div *ngIf="i.success === 3" class="room-panel-send-error" (click)="repeatSendPicAction(i)"></div>
                                    <div [ngClass]="{'img-loading': !i.content.msg_body.loading}" [ngStyle]="{'width': i.content.msg_body.width > 219 || i.content.msg_body.height > 300 ? (i.content.msg_body.width/i.content.msg_body.height > 219/300 ? 219 + 'px' : i.content.msg_body.width/i.content.msg_body.height * 300 + 'px') : i.content.msg_body.width + 'px', 'height': i.content.msg_body.width > 219 || i.content.msg_body.height > 300 ? (i.content.msg_body.width/i.content.msg_body.height < 219/300 ? 300 + 'px' : i.content.msg_body.height/i.content.msg_body.width * 219 + 'px') : i.content.msg_body.height + 'px'}">
                                        <img (load)="imgLoaded(i)" class="room-panel-message-img" (click)="imageViewerShow(i)" title="点击查看大图" [src]="i.content.msg_body.media_url | sanitize: 'url'" alt="">
                                    </div>
                                </div>
                                <!-- 表情 -->
                                <div *ngIf="i.content.msg_body.extras && i.content.msg_body.extras.kLargeEmoticon === 'kLargeEmoticon'" class="float-right room-panel-jpush-emoji">
                                    <div class="float-left" style="width: 140px;height: 140px;" [ngClass]="{'img-loading': !i.content.msg_body.loading}">
                                        <img (load)="imgLoaded(i)" class="room-panel-message-jpush" [src]="i.content.msg_body.media_url | sanitize: 'url'" alt="">
                                    </div>
                                    <div *ngIf="i.success === 3" class="room-panel-send-error" (click)="repeatSendPicAction(i)"></div>
                                </div>
                                <div *ngIf="i.success !== 1 && i.success !== 3" class="room-panel-more room-panel-more-me float-right display-flex flex-direction-vertical justify-content-end align-items-end" [ngClass]="{'show-more-icon': i.showMoreIcon}">
                                    <div class="room-panel-operation" (click)="showMeMoreOther($event, i)"></div>
                                </div>
                            </div>
                            <!-- 文件消息 -->
                            <div (mouseleave)="msgMouseleave()" *ngIf="i.content.msg_type === 'file' && (!i.content.msg_body.extras || (i.content.msg_body.extras && !i.content.msg_body.extras.video))" class="clearfix room-panel-file-container">
                                <div class="room-panel-fromId-me float-right room-panel-avatar" (click)="watchSelfInfo()">
                                    <img avatarLoad [avatarError]="3" [src]="selfInfo.avatarUrl | sanitize: 'url'" alt="">
                                </div>
                                <div class="float-right room-panel-file-me">
                                    <div *ngIf="i.success === 1" class="room-panel-send-loading"></div>
                                    <div *ngIf="i.success === 3" class="room-panel-send-error" (click)="repeatSendFileAction(i)"></div>
                                    <div [ngSwitch]="i.content.msg_body?.extras?.fileType | fileType" class="display-flex room-panel-file-icon room-panel-file-icon-me" [title]="i.content.msg_body.fname">
                                        <div *ngSwitchCase="'image'" class="image"></div>
                                        <div *ngSwitchCase="'video'" class="video"></div>
                                        <div *ngSwitchCase="'audio'" class="audio"></div>
                                        <div *ngSwitchCase="'document'" class="document"></div>
                                        <div *ngSwitchDefault></div>
                                        <p class="flex-1">{{i.content.msg_body.fname | fileName: 12}}</p>
                                    </div>
                                    <div class="room-panel-range">
                                        <p  *ngIf="i.success === 1"></p>
                                        <div>
                                            <span class="float-left">{{i.content.msg_body.fsize | fileSize}}</span>
                                            <p class="float-right" [ngSwitch]="i.success">
                                                <span *ngSwitchCase="1">正在发送</span>
                                                <span *ngSwitchCase="3">发送失败</span>
                                                <span *ngSwitchDefault>已发送</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="i.success !== 1 && i.success !== 3" class="room-panel-more room-panel-more-me float-right display-flex flex-direction-vertical justify-content-end align-items-end" [ngClass]="{'show-more-icon': i.showMoreIcon}">
                                    <div class="room-panel-operation" (click)="showMeMoreOther($event, i)"></div>
                                </div>
                            </div>
                            <!-- 视频消息 -->
                            <div (mouseleave)="msgMouseleave()" *ngIf="i.content.msg_type === 'file' && i.content.msg_body.extras && i.content.msg_body.extras.video" class="clearfix room-panel-video-container">
                                <div class="room-panel-fromId-me float-right room-panel-avatar" (click)="watchSelfInfo()">
                                    <img avatarLoad [avatarError]="3" [src]="selfInfo.avatarUrl | sanitize: 'url'" alt="">
                                </div>
                                <div class="float-right room-panel-video">
                                    <div *ngIf="i.success === 1" class="room-panel-send-loading"></div>
                                    <div *ngIf="i.success === 3" class="room-panel-send-error" (click)="repeatSendFileAction(i)"></div>
                                    <video (click)="playVideo(i.content.msg_body.media_url)" [src]="i.content.msg_body.media_url | sanitize: 'url'" (loadstart)="videoLoadStart(num)" (loadeddata)="videoLoad(num)" [id]="'video2' + num">
                                    </video>
                                    <div class="room-panel-video-play" (click)="playVideo(i.content.msg_body.media_url)" *ngIf="i.content.load === 1">
                                        <span>{{i.content.duration | videoTime}}</span>
                                    </div>
                                    <div class="room-panel-video-shadow" *ngIf="i.content.load === 0">{{i.content.range}}%</div>
                                </div>
                                <div *ngIf="i.success !== 1 && i.success !== 3" class="room-panel-more room-panel-more-me float-right display-flex flex-direction-vertical justify-content-end align-items-end" [ngClass]="{'show-more-icon': i.showMoreIcon}">
                                    <div class="room-panel-operation" (click)="showMeMoreOther($event, i)"></div>
                                </div>
                            </div>
                            <!-- 地理定位 -->
                            <div *ngIf="i.content.msg_type === 'location'" (mouseleave)="msgMouseleave()" class="room-panel-location clearfix room-panel-location-container">
                                <div class="room-panel-fromId-me float-right room-panel-avatar" (click)="watchSelfInfo()">
                                    <img avatarLoad [avatarError]="3" [src]="selfInfo.avatarUrl | sanitize: 'url'" alt="">
                                </div>
                                <div class="room-panel-map-wrap float-right">
                                    <div *ngIf="i.success === 1" class="room-panel-send-loading"></div>
                                    <div *ngIf="i.success === 3" class="room-panel-send-error" (click)="repeatSendLocationAction(i)"></div>
                                    <a [routerLink]="['/map', i.content.msg_body.longitude + '&' + i.content.msg_body.latitude + '&' + i.content.msg_body.scale]" target="_blank">                                
                                        <div [id]="'allmap2' + num" class="float-left room-panel-allmap" title="点击查看详细地图"></div>
                                    </a>                                    
                                    <p class="room-panel-address" [title]="i.content.msg_body.label" *ngIf="i.content.msg_body.label">{{i.content.msg_body.label}}</p>
                                </div>
                                <div *ngIf="i.success !== 1 && i.success !== 3" class="room-panel-more room-panel-more-me float-right display-flex flex-direction-vertical justify-content-end align-items-end" [ngClass]="{'show-more-icon': i.showMoreIcon}">
                                    <div class="room-panel-operation" (click)="showMeMoreOther($event, i)"></div>
                                </div>
                            </div>
                            <!-- 语音 -->
                            <div *ngIf="i.content.msg_type === 'voice'" (mouseleave)="msgMouseleave()" class="room-panel-voice clearfix">
                                <div class="float-right room-panel-fromId-me room-panel-avatar" (click)="watchSelfInfo()">
                                    <img avatarLoad [avatarError]="3" [src]="selfInfo.avatarUrl | sanitize: 'url'" alt="">
                                </div>
                                <div class="float-right room-panel-voice-sound room-panel-voice-sound-me" [ngClass]="{loading: i.content.load === 0}">
                                    <div (click)="playVoice(num)" [ngStyle]="{'width': i.content.msg_body.duration * 20 + 'px'}">
                                        <span class="float-left room-panel-voice-duration">{{i.content.msg_body.duration | floor}}''</span>
                                        <div class="room-panel-voice-animate" [ngClass]="{'active': i.content.playing}"></div>
                                    </div>
                                    <audio [id]="'audio2' + num" (ended)="voiceEnded(num)" (loadeddata)="voiceLoad(num)" [src]="i.content.msg_body.media_url | sanitize: 'url'">
                                    </audio>
                                </div>
                            </div>
                        </div>
                    </div>
                </perfect-scrollbar>
            </div>
        </div>
        <div class="room-panel-message-input">
            <div class="room-panel-send-file">
                <emoji-component [hidden]="!emojiInfo.show" [emojiInfo]="emojiInfo" (jpushEmojiSelect)="jpushEmojiSelectEmit($event)"></emoji-component>                    
                <button title="表情" class="room-panel-emoji-btn" [ngClass]="{'active': emojiInfo.show }" type="button" (click)="showEmojiPanel($event)"></button>
                <input type="file" (change)="sendFileAction($event)" id="sendFile2" class="room-panel-singleFile">
                <label title="文件" for="sendFile2" class="room-panel-singleFile-label"></label>
                <input type="file" id="sendPic2" class="room-panel-singlePic" (change)="sendPicAction($event)">
                <label title="图片" for="sendPic2" class="room-panel-singlePic-label"></label>
                <span title="名片" (click)="showBusinessCardModal()" class="float-left send-business-card"></span>
            </div>
            <div class="room-panel-text-container" (drop)="dropArea($event)" (click)="contentFocus($event)">
                <perfect-scrollbar class="room-panel-content-scroll">
                    <div (paste)="pasteMessage($event)" class="room-panel-content-text" #contentDiv id="contentDiv2" spellcheck="false" contenteditable="true" (keydown)="preKeydown($event)" (click)="msgContentClick($event)"></div>
                </perfect-scrollbar>
            </div>
            <button class="room-panel-send-btn btn-white" type="button" (click)="sendMsgAction()">发送</button>
        </div>
    </div>
</div>
<image-viewer-component *ngIf="viewer.show" [imageViewer]="viewer" (closeImageViewer)="closeImageViewerEmit()"></image-viewer-component>
<div [hidden]="!moreMenu.show" [ngStyle]="{'top': moreMenu.top + 'px', 'left': moreMenu.left + 'px'}" class="room-panel-operation-board">
    <message-menu-component class="room-panel-operation-component" [menu]="moreMenu" (menuItemEnter)="menuItemEnterEmit()" (menuItemLeave)="menuItemLeaveEmit()" (selectMenuItem)="selectMoreMenuItemEmit($event)"></message-menu-component>
</div>
<paste-image-component *ngIf="pasteImage.show" [pasteInfo]="pasteImage" (pasteImage)="pasteImageEmit()"></paste-image-component>
<drop-file-component *ngIf="dropFileInfo.show" (dropFile)="dropFileEmit()" [dropFileInfo]="dropFileInfo"></drop-file-component>
<card-modal-component *ngIf="businessCard.show" [businessCard]="businessCard" (businessCardSend)="businessCardSendEmit($event)"></card-modal-component>