.search-member-search{
    height: 30px;
    position: relative;
    >input{
        width: 100%;
        height: 30px;
        background: #F2F6FB;
        border-radius: 3px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding-left: 10px;
        border: 1px solid transparent;
    }
    >span{
        width: 38px;
        height: 30px;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background: url(../../../assets/images/search-user.svg) center center no-repeat;
        background-size: 14px;
        cursor: pointer;
    }
    >p{
        position: absolute;
        top: 9px;
        right: 39px;
        cursor: pointer;
        display: block;
        width: 12px;
        height: 12px;
        background: url(../../../assets/images/search-user-delete.svg) center center no-repeat;
        background-size: 12px;
    }
    .search-member-no-serach-data{
        line-height: 80px;
        height: 80px;
        background-color: #fff;
        position: absolute;
        z-index: 4;
        width: 100%;
        top: 36px;
        right: 0;
        -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
                box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        font-size: 14px;
        color: #2C2C2C;
        text-align: center;
    }
    .search-member-scroll-search{
        position: absolute;
        top: 36px;
        width: 100%;
        line-height: 40px;
        left: 0;
        z-index: 1;
        background: #fff;
        line-height: 50px;
        -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
                box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        max-height: 275px;
        ul{
            .search-member-search-result{
                cursor: default;
                &:hover{
                    background-color: #F2F6FB;
                }
                div{
                    width: 30px;
                    height: 30px;
                    margin: 10px 10px 0 10px;
                    overflow: hidden;
                    img{
                        width: 100%;
                    }
                }
                .search-member-username{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .search-member-label{
                    position: relative;
                    cursor: pointer;
                    width: 24px;
                    height: 24px;
                    margin: 13px 20px 0 0;
                    input{
                        display: none;
                    }
                    input + b{
                        width: 100%;
                        height: 100%;
                        display: block;
                        background: #fff url(../../../assets/images/select-member-normal.svg) center center no-repeat;
                        background-size: 24px;
                        border-radius: 12px;
                    }
                    input:checked + b{
                        background-image: url(../../../assets/images/select-member-active.svg);
                    }
                    input:disabled + b{
                        background-image: url(../../../assets/images/has-select.svg);
                        cursor: default;
                    }
                }
            }
        }
    }
}