<div class="search-member-search" (click)="stopPropagation($event)">
    <input [placeholder]="searchResult.placeholder" spellcheck="false" (keyup.enter)="searchBtnAction()" type="text" [(ngModel)]="searchResult.keywords" class="input-focus" [id]="searchResult.id">
    <span (click)="searchBtnAction()"></span>
    <p (click)="clearInputAction()" *ngIf="searchResult.show"></p>
    <div class="search-member-no-serach-data" *ngIf="searchResult.result.length === 0 && searchResult.show">找不到匹配的结果</div>
    <perfect-scrollbar *ngIf="searchResult.result.length > 0 && searchResult.show" class="search-member-scroll-search">
        <ul>
            <li class="display-flex search-member-search-result" (click)="searchItemAction(item)" *ngFor="let item of searchResult.result">
                <div>
                    <img (load)="avatarLoad($event)" [src]="item.avatarUrl | sanitize: 'url'" (error)="avatarErrorIcon($event)" alt="">
                </div>
                <p class="flex-1 search-member-username" [title]="item?.nickName.indexOf(searchResult.keywords) !== -1 ? item.nickName : (item.username ? item.username : item.name)">{{item?.nickName.indexOf(searchResult.keywords) !== -1 ? item.nickName : (item.username ? item.username : item.name)}}</p>
                <label class="search-member-label" *ngIf="searchResult.checkbox">
                    <input spellcheck="false" (click)="changeCheckedAction(item)" [ngModel]="item.checked" [disabled]="item.disabled" type="checkbox">
                    <b></b>
                </label>
            </li>
        </ul>
    </perfect-scrollbar>
</div>