.enter-group-wrap{
    .modal-content{
        height: 174px;
    }
    .modal-input{
        width: 320px;
        margin: 31px auto 0;
        position: relative;
        span{
            display: block;
            width: 40px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background: url(../../../assets/images/search-public-group.svg) center center no-repeat;
            cursor: pointer;
            &:before{
                content: '';
                position: absolute;
                top: 8px;
                left: 0;
                width: 1px;
                height: 26px;
                display: block;
                background-color: #D9DEE4;
            }
        }
    }
    .modal-info{
        text-align: left;
        padding-left: 26px;
        font-size: 12px;
        color: #EB424C;
        margin-top: 5px;
        line-height: 17px;
        height: 17px;
    }
}